:root {
  --color-primary-cyan: hsl(180, 66%, 49%);
  --color-primary-dark-violet: hsl(257, 27%, 26%);
  --color-secondary-cyan-light: #9be2e2;
  --color-secondary-red: hsl(0, 87%, 67%);
  --color-secondary-light-gray: #eff1f7;
  --color-neutral-gray: hsl(0, 0%, 75%);
  --color-neutral-grayish-violet: hsl(257, 7%, 63%);
  --color-neutral-very-dark-blue: hsl(255, 11%, 22%);
  --color-neutral-very-dark-violet: hsl(260, 8%, 14%);
}

.button {
  color: white;
  background-color: var(--color-primary-cyan);
  cursor: pointer;
}

.button:active {
  background-color: var(--color-secondary-cyan-light);
}

.normalSizeButton {
  padding: 8px 16px;
}

.largeSizeButton {
  font-size: 1.25rem;
  padding: 8px 32px;
}

.roundedButton {
  border-radius: 40px;
}

.squareButton {
  border-radius: 8px;
}

.layoutHorizontalOffset {
  padding: 0 10vw;
}

@media only screen and (max-width: 1100px) {
  .layoutHorizontalOffset {
    padding: 0 7.5vw;
  }
}
