.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
}

.shortLink {
  color: var(--color-primary-cyan);
}

.button {
  color: white;
  width: 100px;
  background-color: var(--color-primary-cyan);
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 24px;
  cursor: pointer;
  white-space: nowrap;
}

.buttonActive {
  background-color: var(--color-primary-dark-violet);
}
