.header {
  padding-top: 56px;
  padding-bottom: 56px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  margin-left: 32px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links > * {
  margin: 0 16px;
}

.navItem {
  color: var(--color-neutral-gray);
}

.navItem:hover {
  color: black;
  cursor: pointer;
}
