.container {
  display: flex;
  flex-direction: row;

  /* margin: 160px 0; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 72px;
  font-weight: bold;
}

.subTitle {
  color: var(--color-neutral-gray);
}
