.wrapper {
  position: relative;
}

.container {
  position: absolute;
  top: -60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 56px;
  border-radius: 8px;
  background-image: url(/images/bg/bg-shorten-desktop.svg);
  background-color: var(--color-primary-dark-violet);
  background-size: cover;
  background-repeat: no-repeat;
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  font-size: 1rem;
}

.input::placeholder {
  color: var(--color-neutral-gray);
}

.inputWarning {
  border: solid 2px red;
  outline: none;
}

.inputWarning::placeholder {
  color: red;
}

.button {
  margin-left: 24px;
  cursor: pointer;
}

.disabledButton {
  color: var(--color-primary-dark-violet);
  background-color: var(--color-neutral-gray);
}

.warning {
  color: red;
  position: absolute;
  top: 120px;
  font-size: 0.75rem;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    top: -80px;
    padding: 24px;
    background-image: url(/images/bg/bg-shorten-mobile.svg);
  }

  .button {
    margin-top: 24px;
    margin-left: 0;
  }

  .warning {
    position: relative;
    top: 0;
  }
}
