.wrapper {
  position: relative;
}

.container {
  position: absolute;
  top: -60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 56px;
  border-radius: 8px;
  background-image: url(/images/bg/bg-shorten-desktop.svg);
  background-color: var(--color-primary-dark-violet);
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  font-size: 1rem;
}

.inputEmpty {
  color: var(--color-neutral-gray);
}

.button {
  color: white;
  background-color: var(--color-primary-cyan);
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 16px;
  cursor: pointer;
  white-space: nowrap;
}
